In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns
import pickle

In [3]:
df = pd.read_csv('pricedataset.csv')

In [4]:
df.head()

,QUOTE_DATE,ITEM_ID,ITEM_DESC,VALIDITY,SHOP_CODE,PRICE,INDICATOR_BOX,ORIG_INDICATOR_BOX,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,END_DATE,REGION,SHOP_TYPE,SHOP_WEIGHT,BASE_PRICE,BASE_VALIDITY,STRATUM_CELL
0,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,801,1.30,NaN,NaN,1.130,0.123,11.92,1,202202,999999,2,1,1,1.150,3,2
1,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,802,2.00,NaN,NaN,1.429,0.357,11.92,1,202202,999999,2,1,1,1.400,3,2
2,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,803,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,1,1.150,3,2
3,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,807,1.30,NaN,NaN,1.153,0.142,11.92,1,202204,999999,2,1,2,1.128,4,2
4,202301,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,808,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,2,1.150,3,2

In [6]:
df.shape

(139419, 20)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139419 entries, 0 to 139418
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   QUOTE_DATE          139419 non-null  int64
 1   ITEM_ID             139419 non-null  int64
 2   ITEM_DESC           139419 non-null  object
 3   VALIDITY            139419 non-null  int64
 4   SHOP_CODE           139419 non-null  int64
 5   PRICE               139419 non-null  float64
 6   INDICATOR_BOX       42864 non-null   object
 7   ORIG_INDICATOR_BOX  41603 non-null   object
 8   PRICE_RELATIVE      139419 non-null  float64
 9   LOG_PRICE_RELATIVE  139419 non-null  float64
 10  STRATUM_WEIGHT      139419 non-null  float64
 11  STRATUM_TYPE        139419 non-null  int64
 12  START_DATE          139419 non-null  int64
 13  END_DATE            139419 non-null  int64
 14  REGION              139419 non-null  int64
 15  SHOP_TYPE           139419 non-null  int64
 16  SHOP_WEIGHT         139419 non-null  int64
 17  BASE_PRICE          139419 non-null  float64
 18  BASE_VALIDITY       139419 non-null  int64
 19  STRATUM_CELL        139419 non-null  int64
dtypes: float64(5), int64(12), object(3)
memory usage: 21.3+ MB

In [9]:
df = df.drop("QUOTE_DATE", axis=1)
df

,ITEM_ID,ITEM_DESC,VALIDITY,SHOP_CODE,PRICE,INDICATOR_BOX,ORIG_INDICATOR_BOX,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,END_DATE,REGION,SHOP_TYPE,SHOP_WEIGHT,BASE_PRICE,BASE_VALIDITY,STRATUM_CELL
0,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,801,1.30,NaN,NaN,1.130,0.123,11.92,1,202202,999999,2,1,1,1.150,3,2
1,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,802,2.00,NaN,NaN,1.429,0.357,11.92,1,202202,999999,2,1,1,1.400,3,2
2,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,803,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,1,1.150,3,2
3,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,807,1.30,NaN,NaN,1.153,0.142,11.92,1,202204,999999,2,1,2,1.128,4,2
4,210102,LGE LOAF-WHTE-UNSLED-750-800G,3,808,1.25,NaN,NaN,1.087,0.083,11.92,1,202202,999999,2,1,2,1.150,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139414,640406,HOTEL 1 NIGHT PRICE,1,5105,0.00,T,T,0.000,0.000,0.93,1,202203,999999,13,2,1,97.511,4,13
139415,640406,HOTEL 1 NIGHT PRICE,3,5112,150.00,NaN,NaN,0.935,-0.067,0.93,1,202202,999999,13,2,1,160.400,3,13
139416,640406,HOTEL 1 NIGHT PRICE,3,15451,110.00,NaN,NaN,1.049,0.048,0.93,1,202203,999999,13,1,1,104.850,4,13
139417,640406,HOTEL 1 NIGHT PRICE,3,15689,132.00,NaN,NaN,1.320,0.278,0.93,1,202202,999999,13,2,1,100.000,3,13
139418,640406,HOTEL 1 NIGHT PRICE,3,18022,135.00,NaN,NaN,0.998,-0.002,0.93,1,202203,999999,13,2,1,135.257,4,13

In [13]:
x = df.drop("ITEM_ID", axis=1)
x = x.drop("VALIDITY", axis=1)
x = x.drop("SHOP_CODE", axis=1)
x = x.drop("INDICATOR_BOX", axis=1)
x = x.drop("ORIG_INDICATOR_BOX", axis=1)
x = x.drop("REGION", axis=1)
x = x.drop("SHOP_TYPE", axis=1)

In [14]:
x

,ITEM_DESC,PRICE,PRICE_RELATIVE,LOG_PRICE_RELATIVE,STRATUM_WEIGHT,STRATUM_TYPE,START_DATE,END_DATE,SHOP_WEIGHT,BASE_PRICE,BASE_VALIDITY,STRATUM_CELL
0,LGE LOAF-WHTE-UNSLED-750-800G,1.30,1.130,0.123,11.92,1,202202,999999,1,1.150,3,2
1,LGE LOAF-WHTE-UNSLED-750-800G,2.00,1.429,0.357,11.92,1,202202,999999,1,1.400,3,2
2,LGE LOAF-WHTE-UNSLED-750-800G,1.25,1.087,0.083,11.92,1,202202,999999,1,1.150,3,2
3,LGE LOAF-WHTE-UNSLED-750-800G,1.30,1.153,0.142,11.92,1,202204,999999,2,1.128,4,2
4,LGE LOAF-WHTE-UNSLED-750-800G,1.25,1.087,0.083,11.92,1,202202,999999,2,1.150,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
139414,HOTEL 1 NIGHT PRICE,0.00,0.000,0.000,0.93,1,202203,999999,1,97.511,4,13
139415,HOTEL 1 NIGHT PRICE,150.00,0.935,-0.067,0.93,1,202202,999999,1,160.400,3,13
139416,HOTEL 1 NIGHT PRICE,110.00,1.049,0.048,0.93,1,202203,999999,1,104.850,4,13
139417,HOTEL 1 NIGHT PRICE,132.00,1.320,0.278,0.93,1,202202,999999,1,100.000,3,13
139418,HOTEL 1 NIGHT PRICE,135.00,0.998,-0.002,0.93,1,202203,999999,1,135.257,4,13